// IMPORTS
// =====================
@import "./fonts.scss";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

// COLORS
// =====================
$background-cream: #FDF9EE;
$charcoal-dark: #333333;
$charcoal-medium: #575757;
$charcoal-light: #7B7B7B;
$charcoal-ultra-light: #C2C2C2;
$emphasis-red: #B6000F;

// GLOBALS
// =====================
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a, input, textarea {
  all: unset;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, hr, pre, a {
  margin: 0;
  font-family: "SpaceGrotesk";
}

a, button {
  cursor: pointer;
}

.Container {
  min-height: 100vh;
  background-color: $background-cream;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: $background-cream;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-spacer {
  flex: 1;
}

// COMPONENTS
// =====================
.Header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .branding {
    img.logo {
      width: 160px;
    }
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    .navigation-link {
      font-weight: 400;
      font-size: 16px;
      color: $charcoal-medium;
      &:not(:first-child) {
        margin-left: 22px;
      }
      &.selected {
        font-weight: 500;
        color: $charcoal-dark;
      }
    }
  }
}

.Footer {
  width: 100%;
  height: 260px;
  margin-top: 60px;

  .section {
    border-top: 1px solid $charcoal-ultra-light;
    &.section-primary {
      height: 200px;
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      .branding {
        img.logo {
          width: 160px;
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .content-section {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          &:not(:first-child) {
            margin-left: 40px;
          }

          .content-title {
            font-weight: 500;
            font-size: 16px;
            color: $charcoal-dark;
          }

          .navigation-link {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            color: $charcoal-medium;
          }

        }

      }

      .social-links {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
          width: 24px;
        }
        .social-link:not(:first-child) {
          margin-left: 28px;
        }
      }

    }

    &.section-secondary {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      p.copyright {
        font-weight: 400;
        font-size: 12px;
        color: $charcoal-light;
      }

      .navigation-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .vertical-bar {
          font-weight: 400;
          font-size: 12px;
          color: $charcoal-light;
          margin-left: 8px;
          margin-right: 8px;
        }

        .navigation-link {
          font-weight: 400;
          font-size: 12px;
          color: $charcoal-light;
        }
      }
    }
  }
}

.button {
  height: 48px;
  background-color: $charcoal-dark;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .button-text {
    font-size: 16px;
    font-weight: 500;
    color: $background-cream;
  }
}

.paper-carousel {

  .alice-carousel {

    .alice-carousel__stage-item {
      &.__active {
        margin-right: 16px;
      }
    }

    .alice-carousel__prev-btn {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 232px;
      left: -18px;
    }

    .alice-carousel__next-btn {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 232px;
      left: calc(100% - 18px);
    }
  }


  .carousel-button {
    cursor: pointer;
    width: 36px;
    height: 36px;
    padding: 10px;
    border: 1px solid $charcoal-ultra-light;

    .carousel-button-image {
      width: 16px;
    }
  }

  .paper {
    width: 352px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid $charcoal-ultra-light;

    img.paper-thumbnail {
      margin-top: 32px;
      width: 100px;
    }

    .paper-title {
      margin-top: 24px;
      font-size: 24px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: $charcoal-dark;
      text-align: center;
    }

    .paper-authors {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: $charcoal-dark;
      text-align: center;
    }
  }

}

// SCREENS
// =====================
.screen.home-screen {

  .text-content {
    .section-title {
      font-size: 18px;
      font-weight: 400;
      color: $charcoal-dark;
    }
    .section-description {
      margin-top: 15px;
      max-width: 555px;
      font-size: 32px;
      font-weight: 400;
      color: $charcoal-dark;
      line-height: 120%;
      letter-spacing: -0.01em;

      span.emphasis {
        color: $emphasis-red;
      }
    }
  }

  .read-more {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .read-more-text {
      font-size: 16px;
      font-weight: 400;
      color: $charcoal-dark;
      text-decoration-line: underline;
    }

    img.read-more-arrow {
      margin-left: 4px;
      width: 12px;
    }

    img.external-link {
      margin-left: 4px;
      height: 16px;
    }
  }

  .see-all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .see-all-text {
      font-size: 16px;
      font-weight: 400;
      color: $charcoal-dark;
      text-decoration-line: underline;
    }

    img.see-all-arrow {
      margin-left: 4px;
      width: 12px;
    }

  }

  .section.powered-by-section {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img.section-image {
      width: 457px;
    }

    .text-content {
      .attribution {
        font-size: 18px;
        font-weight: 400;
        color: $charcoal-medium;

        span.emphasis {
          font-family: "Roboto";
          font-size: 20px;
          font-weight: 700;
          color: $charcoal-dark;
        }
      }

      .tagline {
        margin-top: 15px;
        max-width: 555px;
        font-size: 56px;
        line-height: 100%;
        letter-spacing: 0.01em;
        font-weight: 400;
        color: $charcoal-dark;

        span.emphasis {
          color: $emphasis-red;
        }
      }

      .stats {
        margin-top: 40px;
        width: 282px;

        .stats-section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          height: 54px;

          &:not(:last-child) {
            border-bottom: 1px solid $charcoal-ultra-light;
          }

          p.primary {
            font-size: 32px;
            font-weight: 400;
            color: $charcoal-dark;
            margin-right: 16px;
            letter-spacing: -0.01em;
          }

          p.secondary {
            font-size: 24px;
            font-weight: 400;
            color: $charcoal-medium;
            letter-spacing: -0.01em;
          }
        }
      }
    }
  }

  .section.mission-section {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img.section-image {
      width: 467px;
    }

  }

  .section.why-section {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img.section-image {
      width: 552px;
    }
  }

  .section.how-section {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img.section-image {
      width: 552px;
    }
  }

  .section.learn-more-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-container {
      width: 475px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .read-more {
        margin-top: 0px;
      }
    }
  }

  .section.winning-papers-section {
    margin-top: 60px;

    .text-content .section-description {
      max-width: 734px;
    }

    .winning-paper-highlight {
      &:nth-child(2) {
        margin-top: 40px;
      }

      &:not(:nth-child(2)) {
        margin-top: 60px;
      }

      .highlight-header {
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .highlight-title {
          font-size: 28px;
          font-weight: 400;
          line-height: 125%;
          color: $charcoal-dark;
          letter-spacing: -0.01em;
        }
      }
    }
  }

  .section.faq-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .section-title {
      font-size: 32px;
      font-weight: 400;
      line-height: 120%;
      color: $charcoal-dark;
      letter-spacing: -0.01em;
    }

    .faq-items {
      margin-top: 40px;

      .faq-item {
        position: relative;
        cursor: pointer;
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid $charcoal-ultra-light;
        &:last-child {
          border-bottom: 1px solid $charcoal-ultra-light;
        }

        .faq-question {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .faq-question-text {
            font-size: 24px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: -0.01em;
            color: $charcoal-dark;
          }

          .faq-collapse-icon {
            width: 14px;
          }

        }

        .faq-answer {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: $charcoal-dark;
        }

      }

    }

  }

}
